.book-grid .container {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    overflow-y: auto;
}

.book {
    border: #333 1px solid;
    border-radius: 16px;
    width: 180px;
    margin: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.book img {
    width: 80%;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.rating {
    margin-bottom: 10px;
}

.rating-star input {
    display: none;
}

.rating-star span.empty {
    background-image: url('star_empty.svg');
    height: 18px;
    width: 18px;
    display: inline-block;
    background-size: cover;
}

.rating-star span.full {
    background-image: url('star_full.svg');
    height: 18px;
    width: 18px;
    display: inline-block;
    background-size: cover;
}

.favorite {
    margin: 10px;
    align-self: flex-end;
}

.favorite input {
    display: none;
}

.favorite span.empty {
    background-image: url('fav_empty.svg');
    height: 24px;
    width: 24px;
    display: inline-block;
    background-size: cover;
}

.favorite span.full {
    background-image: url('fav_full.svg');
    height: 24px;
    width: 24px;
    display: inline-block;
    background-size: cover;
}